html, body {height: 100%;}
body{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.33337;
    color: #49494b;
    background-color: #f5f5f7;
    padding-left: 50px;
    padding-right: 50px;
}
.wrap {min-height: 100%;}
.main {overflow:auto;
    padding-bottom: 40px;}  /* must be same height as the footer */
.footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear:both;
    border-top: 1px solid;
    text-align: center;
}
/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/
}

.text {
    color: #6e6e73;
    background-color: #f5f5f7;
    font-size: 16px;
    line-height: 1.33337;
    font-weight: 400;
}

.wikitable{
    position: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.header {
    border-bottom: 1px solid;
    text-align: center;
    top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.4em;
    font-family: Orbitron;
    font-weight: 700;
}